# assignment
doc.public
doc.private

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build
camljs
temp.ml
grammar.ml
tokenizer.ml
tokenizer.mli
token.mli

# temporary files
*.swp
*~
\#*\#
.DS_Store
