# assignment
doc.public
doc.private

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build
camljs
temp.ml
temp.js
parser/grammar.ml
parser/tokenizer.ml
parser/tokenizer.mli
parser/token.mli
e2e-compiled.js
e2e-js-result.txt
e2e-ml-result.txt
e2e-diff.txt
camljs_src.zip

# temporary files
*.swp
*~
\#*\#
.DS_Store
